@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%,13%);
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}
html{
    box-sizing: border-box;
}
*,::before,::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    padding: 1.5rem;
    min-height: 100vh;
    font-family: 'Lexend Deca';
    font-weight: 400;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}
section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header{
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 15px;
    color: var(--Very-light-gray-background-headings-buttons);
}
.paragraph{
    color: var(--Transparent-white-paragraphs);
}
.buttion{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 50%;
    border-radius: 30px;
    background-color: var(--Very-light-gray-background-headings-buttons);
}
.buttion button{
    width: 100%;
    height: 100%;
    border: none;
    outline: transparent;
    background-color: transparent;
}
.section-1-color{
    background-color: var(--Bright-orange);
}
.section-2-color{
    background-color: var(--Dark-cyan);
}
.section-3-color{
    background-color: var(--Very-dark-cyan);
}
.buttion-1-color{
    color: var(--Bright-orange);
}
.buttion-2-color{
    color: var(--Dark-cyan);
}
.buttion-3-color{
    color: var(--Very-dark-cyan);
}
@media(min-width:40em) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33%);
    }
    section{
        gap:3rem; 
        
    }
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }